language: java
install: true # skips the Travis dependency install step
script:
  - mvn -T 2C -B clean install
  - |
    set -e
    if [ "$TRAVIS_BRANCH" = 'master' ] && [ "$TRAVIS_PULL_REQUEST" == 'false' ]; then
        echo "Importing GPG key into keyring"
        gpg --fast-import travis/codesigning.asc

        TIME=$(TZ="Europe/Oslo" date +%Y.%m.%d-%H.%M)
        COMMIT=$(git rev-parse --short=12 HEAD)
        VERSION="1.$TIME-$COMMIT"
        echo "Setting version $VERSION"

        mvn -B versions:set -DnewVersion="$VERSION"
        mvn -B versions:commit

        echo "Running release"
        mvn -T 12 -B --settings travis/settings.xml deploy -Prelease -DskipTests=true
    fi
jdk:
- openjdk8
env:
  global:
  - OSSRH_JIRA_USERNAME=navikt
  - GPG_KEY_NAME=navikt
  - secure: NUcC8cTT5A+9CjfwFnQnqaV1b8kSVY3hdGbr3jf3KlVit9vkN7pOSuZGmoK9my3dqjERZ3O+pnKuh+0W2CQD6mCloS04zXbbwspU+02dbLwTsyOQwUmXwV00pyxl1RFx5M+qM6smDpjNdqJ39XkLZJIndnN+P9Np0ybqWI4oioT9xqF4+dTaKBwnxvz5eazb48b2dex/5+9fQVlL3YmJ8Lp+TPu6ZZSF8sFHSRJKD4k4TGU/svSy+YdZo8lO7QJnlXa/eIho1hsJ6tjiT0yIfYh/vZlOaf2xJ5LZiyXKmuRl3PZZrHU5HdX0yUdtqXBOH45LuhUnxjjmu/sEgFFmobkUDgzqHqJbv1tGBz4TJ9/eTPGy5W7fhv+e83jLkdyt2QvSajTLPvWpfdnKio9O4SH3vogyCQPLTIMXdX+gERK0vJA5hMpm3S5VJmYAZvIyIh4Vaq8jaC1eXU7M0k/tJKfFeBgH1A4G2At5AA25lIoZFS0J9pUFkv0tUDbdg2sIi73eOBpWlikHIng6xz646KfNaLeucpJcB+rqkp60pqWozUWcG3SFAwO0IEsKvBb3Zcz7y2x/fS3aJpDtt6/lJi5kt/d8rSqqej1cus5zjX/40iKEqGC0GdMBlhnN2y3dst8jgmCy2eJSgDeqd8PvYXc2maA/QJ7KKIfdOW4uLx0=
  - secure: e0urOVbDz2KofdqwLzus9zAJIxyXrBTPqse/2Xl55Gg5uaHrldbXguPXpSoUiZAHql0Jdlmd5BXHSenaBMscWUMBzGdOw+PN8fLdwufz1JPlRKCl6gd1om7pcuoIYFW5UPoDtXcT8aIoA7tzezetNopP5t5u23Vp4sdnbDDb9TdHZVe0niwDnOpJoYw3ZzIPEc3SFZ2hXw6cFjAM4rlhS8ykC4BDECcxTZ8p/ZOZoCHbiwCu3Ob6nVXgDgRpoLLJPXoocRGCOgNuoNTmcn6K4a46veA7zmiF2nBAFX0dF31+hEOOs7uqUJGjcmAG6ug0groxz2T8KEgPCD7GavXTDiUDnZU350Dch6BCpFN8iNs0oDV3ybWgeHHngGG+HBlXwrsYdpZDWz/ei4rDGbYmC39XP6UVj3T/0wYfQEoYEajy6sxfol4oLlUU7sE2wJ+8cjBRBJSwHM6mooIS0Y5K2AQALQ1nrNy9nDeTCsL8b9ZwIe+cKehxqcGjKE30TGOPaMJe5K4+SVfSs+J5bvbANQ2LQN4FZZeb5enhlSQMk7HgDQiGtcFkmfGjhwOCNDX/w8vszmHlbLA+M/YuxkamJKmBXBYDyB7BjIRPr1CITNDCqDIfmNoJWKAth6neWWydvLTw2fo2EJFw++XNT4jAQjn5noWkf+3hMVxtehKEYTY=
before_install:
- openssl aes-256-cbc -K $encrypted_a973f24e4f75_key -iv $encrypted_a973f24e4f75_iv
  -in travis/codesigning.asc.enc -out travis/codesigning.asc -d
cache:
  directories:
  - $HOME/.m2
