.idea/
*.iml
target
*.ipr
*.iws

dokumentinnsending-jaxws/target
dokumentinnsending-jaxws/*.iml
dokumentinnsending-jaxws/*.iws
dokumentinnsending-jaxws/*.ipr

dokumentinnsending-soknad-tjenestespesifikasjon/target
dokumentinnsending-soknad-tjenestespesifikasjon/*.iml
dokumentinnsending-soknad-tjenestespesifikasjon/*.iws
dokumentinnsending-soknad-tjenestespesifikasjon/*.ipr